# Web Scraping & Automation
requests
beautifulsoup4
selenium
webdriver-manager
playwright

#downloads
pillow
pymupdf

# Data Processing
pandas
openpyxl

# AI/ML
openai

# Environment
python-dotenv

# Utilities
urllib3